<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create note</title>
</head>
<body>
<h1>Create note</h1>
<p>
    <a href="/admin/list">Note list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/admin/create-user}" th:object="${user}" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td>User Name:</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="text" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>nickname:</td>
            <td><input type="text" th:field="*{nickname}"/></td>
        </tr>
        <tr>
            <td th:object="${myFile}"><input type="file" th:field="*{multipartFile}"/></td>
        </tr>
        <tr>
            <td>role:</td>
            <td>
                <select th:field="*{role}">
                    <option th:each="p : ${roles}" th:value="${p.name}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create note"></td>
        </tr>
    </table>
</form>
</body>
</html>