<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    textarea, label{
        display: block;
    }
</style>
<h1>Edit blog</h1>
<p>
    <a href="/blogs">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-blog}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Author name:</td>
            <td><input type="text" th:field="*{author_name}"></td>
            <td th:if="${#fields.hasErrors('author_name')}" th:errors="*{author_name}">Name error</td>
        </tr>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td><input type="text" th:field="*{tags}"></td>
            <td th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}">Tags error</td>
        </tr>
        <tr>
            <td><label>Content</label></td>
            <td><textarea th:field="*{content}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update blog"></td>
        </tr>
    </table>
</form>
</body>
</html>