<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit note</title>
</head>
<body>
<h1>Edit note</h1>
<p>
    <a href="/admin/list">Note list</a>
</p>

<body>
Logged user: <span th:text="${#request.userPrincipal}"></span>
Roles: <span th:text="${#request.userPrincipal.principal.authorities}"></span>

<a th:href="@{/user/edit-user/__${#request.userPrincipal.name}__ }">Edit</a>
<form action="#" th:action="@{/logout}" method="POST">
    <button type="submit">Logout</button>
</form>
</body>
