<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Index Page</title>
</head>
<body>
<th:block th:object="${user}">
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.nickname}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.role}"></td>
    </tr>
</th:block>
<form action="#" th:action="@{/logout}" method="POST">
    <button type="submit">Logout</button>
</form>
</body>
</html>